<%- include('partials/header'); -%>
    <%- include('partials/navbar'); -%>
        <section id="custom">
            <div class="custom-container">
                <div class="custom-menu">
                    <ul>
                        <li id="addNew">Add new Word +</li>
                        <% custom.forEach(word=> { %>
                            <li class="word" data-id=<%=word.id %>><%= word.words %>
                            </li>
                            <% }) %>
                    </ul>
                </div>

                <div class="custom-form">
                    <h2>Add Word</h2>

                    <form id="newForm" action="">
                        <input id="newWord" type="text" placeholder="New Word">
                        <button type="submit">Add</button>
                    </form>

                    <form id="editForm" action="">
                        <input id="editWord" type="text" placeholder="Word">
                        <input id="editWordId" type="hidden" value="">
                        <button id="editUpdate" type="submit">Update</button>
                        <button id="editDelete" type="submit">DELETE</button>
                    </form>
                </div>
            </div>
        </section>

        <script>

            $("#newForm").on("submit", function (e) {
                e.preventDefault();
                const newWord = $("#newWord").val();

                $.ajax({
                    type: "POST",
                    url: "/custom/user",
                    data: { newWord: newWord }
                }).done(response => {
                    const words = response;

                    const mappedWords = words.map(word => {
                        return `<li class='word' data-id=${word.id}>${word.words}</li>`
                    }).join("");

                    $(".custom-menu ul").empty().append("<li id='addNew'>Add new Word +</li>").append(mappedWords);
                })

            });

            $("#editDelete").on("click", function (e) {
                e.preventDefault();
                const id = $("#editWordId").val();

                $.ajax({
                    type: "DELETE",
                    url: "/custom/" + id,
                }).done(response => {
                    const words = response;

                    const mappedWords = words.map(word => {
                        return `<li class='word' data-id=${word.id}>${word.words}</li>`
                    }).join("");

                    $(".custom-menu ul").empty().append("<li id='addNew'>Add new Word +</li>").append(mappedWords);

                    $(".custom-form h2").html("Add Word");
                    $("#newWord").val("");
                    $("#newForm").show();
                    $("#editForm").hide();
                })
            });

            $("#editUpdate").on("click", function (e) {
                e.preventDefault();

                const id = $("#editWordId").val();
                const word = $("#editWord").val();
                $.ajax({
                    type: "PUT",
                    url: "/custom/" + id,
                    data: { word: word.trim() }
                }).done(response => {
                    const updatedWord = response[0];
                    $("#editWord").val(updatedWord.words);
                    $(`ul li[data-id=${id}]`)[0].innerHTML = updatedWord.words;
                })
            })

            $(".custom-menu").on("click", ".word", function (e) {
                $(".custom-form h2").html("Edit Word");
                $("#editWord").val($(this).html());
                $("#editWordId").val($(this).attr("data-id"));
                $("#newForm").hide();
                $("#editForm").css("display", "flex");
            });

            $(".custom-menu").on("click", "#addNew", function (e) {
                $(".custom-form h2").html("Add Word");
                $("#newWord").val("");
                $("#newForm").show();
                $("#editForm").hide();
            })



        </script>


        <%- include('partials/footer'); -%>